/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body[data-theme='dark'] {
	--bg: black;
	--text: white;
	--card: #222;
}

body[data-theme='light'] {
	--bg: #ddd;
	--text: black;
	--card: #eee;
}

body {
	background: var(--bg);
	color: var(--text);
	font-family: 'Inter', sans-serif;
}

html,
body {
	height: 100%;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
}

.theme-switcher {
	all: unset;
	padding: 10px 20px;
	background: var(--text);
	color: var(--bg);
	border-radius: 8px;
	position: absolute;
	bottom: 40px;
	right: 40px;
}

.btn {
	padding: 10px 20px;
	background: var(--text);
	color: var(--bg);
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
	outline: none;
	border: none;
}

.btn[disabled] {
	opacity: 0.7;
	cursor: not-allowed;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	margin-bottom: 40px;
}

.logo-text {
	font-size: 30px;
}

.card {
	border: 2px solid var(--card);
	padding: 20px;
	border-radius: 6px;
	margin-bottom: 30px;
}

.card p {
	margin-bottom: 20px;
}

.walletconnect-modal__mobile__toggle a {
	color: black !important;
}

.btn-group {
	display: flex;
	flex-wrap: wrap;
	gap: 14px;
}
