@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
}

a {
	color: #84309c;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

body {
	color: #e7e8e8;
	background: #070707;
}

.btn {
	display: inline-block;
	padding: 0.5rem 1rem;
	margin: 0.5rem 0;
	border-radius: 0.5rem;
	background: #84309c;
	color: #e7e8e8;
	border: 1px solid #84309c;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	font-size: 20px;
}
